<div id="accounts" class="theme">
	<!-- <web-header user-info="$root.user" class="relative-pos"></web-header>
	<web-menu menu-collection="$root.menu" class="menu-bar-sliding-pos"></web-menu> -->
<div ng-include="'app/templates/menu_new.html'" user-info="$root.user" style="margin-top: 50px;" ></div>
	<div class="container-fluid content">
		<div class="cb-wrapper spot-folio-regeneration">
			<web-bread-crumb items="$root.breadcrumb" class="pull-left"></web-bread-crumb>
			<div class="action width-100">
				<div class="pull-left margin-top-5">
					MR Code: 
					<select id="spot-folio-regeneration-mr-code" class="text-input text-select" ng-model="mr_code" ng-change="get_reading_day_info()" web-required tooltip-placement="left">
						<option value="">-- Select --</option>
						<option ng-repeat="option in MeterReaderCode" value="{{option.key}}">{{option.value}}</option>
					</select>
				</div>
				
				<div class="pull-left margin-top-5">
					Reading Day: 
					<select id="spot-folio-regeneration-rdg-day" ng-model="rdg_day" class="text-input text-select" web-required tooltip-placement="left">
						<option value="">-- Select --</option>
						<option ng-repeat="option in MeterReadingDay" value="{{option.key}}">{{option.value}}</option>
					</select>
				</div>
				<div class="pull-left">
					<button ng-click="load_spot_folio_details()" class="">Show</button>
				</div>
				<div class="pull-right">
					<button ng-click="save_spot_folio_details()">Save</button>
					<button ng-click="regenerate_spot_folio_details()" >Re-Generate</button>
					<button ng-click="spot_folio_details_clear()">Clear</button>
				</div>
			</div>
			<div class="width-100 clear-both padding-top-15">
				<form name="newSpotFolioForm" novalidate>
					<div class="gridStyle" id="spotFolioDetailsGrid" ui-grid="spotFolioDetailsGridOptions" style="width: 100%;height: 480px;"></div>
				</form>
			</div>
		</div>
	</div>
	<web-popup id="generateSpotFolio">
		<form>
			
		</form>
	</web-popup>
</div>