	<!-- <web-header user-info="$root.user" class="relative-pos"></web-header>
	<web-menu menu-collection="$root.menu" class="menu-bar-sliding-pos"></web-menu> -->
<div ng-include="'app/templates/sav_menu.html'" user-info="$root.user" style="margin-top: 50px;" ></div>
	<div class="container-fluid content">
		<div class="cb-wrapper user-change-password">
			<web-bread-crumb items="$root.breadcrumb" class="pull-left"></web-bread-crumb>
			
			<div class="row">
				<div class="col-xs-4">
				</div>
				<div class="col-xs-4">
					<div class="panel panel-primary">
      	     		 <div class="panel-heading"><h3 class="panel-title">Change Password</h3></div>
					 	 <div class="panel-body">
					 	 		<div class="row">
					 	 			<div class="col-xs-12">
				  						<label for="rr-number">Old Password</label>
			               				 <input type="password" class="form-control mandatory" ng-model="old_password"  id="old_password" >	
				  					</div>
				  					<div class="col-xs-12">
				  						<label for="rr-number">New Password</label>
			               				 <input type="password" class="form-control mandatory" ng-model="new_password"  id="new_password" >	
				  					</div>
				  					<div class="col-xs-12">
				  						<label for="rr-number">Confirm Password</label>
			               				 <input type="password" class="form-control mandatory" ng-model="new_password_confirm" id="new_password_confirm" >	
				  					</div>
					 	 		</div>
					 	 		<br>
					 	 		<div class="row">
					 	 			<div class="col-xs-4">
					 	 				<button class="btn btn-primary btn-block" ng-click="change_password()">Update</button>
					 	 			</div>
					 	 			<div class="col-xs-4">
					 	 				<button class="btn btn-primary btn-block" ng-click="change_password()">Clear</button>
					 	 			</div>
					 	 		</div>	
					 	 </div>
				 	 </div>
				</div>
				<div class="col-xs-4">
				</div>
			</div>
		</div>
	</div>
