<div id="user" class="theme">
	<!-- <web-header user-info="$root.user" class="relative-pos"></web-header>
	<web-menu menu-collection="$root.menu" class="menu-bar-sliding-pos"></web-menu> -->
	<div ng-include="'app/templates/menu_new.html'" user-info="$root.user" style="margin-bottom: 20px;"></div>
	<div class="container-fluid content">
		<div class="cb-wrapper user-deligation-details">
			<web-bread-crumb items="$root.breadcrumb" class="pull-left"></web-bread-crumb>
			<div class="action width-100">
				<div class="pull-right">
					<button ng-click="add_user_deligation()" class="user-deligation-add">Add Deligation</button>
				</div>
			</div>
			<div class="width-100 clear-both padding-top-15">
				<div id="delegate_user">
					<div class="gridStyle" ui-grid="userDeligationDetailsGridOptions" style="width: 100%;height: 440px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>