<div id="energy_audit" class="theme">
	<!-- <web-header user-info="$root.user" class="relative-pos"></web-header>
	<web-menu menu-collection="$root.menu" class="menu-bar-sliding-pos"></web-menu> -->
<div ng-include="'app/templates/sav_menu.html'" user-info="$root.user" style="margin-top: 50px;" ></div>
	<div class="container-fluid content">
		<div class="cb-wrapper energy-audit-transformer-meter-reading-details">
			<web-bread-crumb items="$root.breadcrumb" class="pull-left"></web-bread-crumb>
			<div class="action width-100">
				<div class="pull-left margin-top-5">
					O&M Unit :
					<select id="transformer-meter-reading-details-om-code" class="text-input text-select" ng-model="om_code"  ng-enter="load_transformer_meter_reading_details($event)" >
						<option value="">-- Select --</option>
						<option ng-repeat="option in om_list" value="{{option.key}}" ng-selected="$index == 0">{{option.value}}</option>
					</select>
				</div>
				<div class="pull-left margin-top-5">
					 Station :
					<select id="transformer-meter-reading-details-station-code" class="text-input text-select" ng-model="StationCode" ng-change="get_feeder_info()" ng-enter="load_transformer_meter_reading_details($event)" >
						<option value="">-- Select --</option>
						<option ng-repeat="option in StationCodeList" value="{{option.key}}" ng-selected="$index == 0">{{option.value}}</option>
					</select>
				</div>
										
				<div class="pull-left margin-top-5">
					Feeder : 
					<select id="transformer-meter-reading-details-feeder-code" class="text-input text-select" ng-model="FeederCode" ng-change="get_transformer_info()" ng-enter="load_transformer_meter_reading_details($event)">
						<option value="">-- Select --</option>
						<option ng-repeat="option in FeederCodeList" value="{{option.key}}" ng-selected="$index == 0">{{option.value}}</option>
					</select>
				</div>
				<div class="pull-left margin-top-5">
					Reading Date : <input type="text" ng-model="readingDate" web-datepicker class="text-input" ng-enter="load_transformer_meter_reading_details($event)" />
				</div>
				
				<div class="pull-right margin-top-5">
					<button ng-click="load_transformer_meter_reading_details($event)" class="">Show</button>
					<button ng-click="transformer_meter_reading_details_save()" class="transformer-meter-reading-details-save">Save</button>
					<button ng-click="transformer_meter_reading_details_clear()" class="transformer-meter-reading-details-clear">Clear</button>
				</div>
			</div>
			<div class="width-100 clear-both padding-top-15">
				<div id="transformer_meter_reading_details">
					<div class="gridStyle" ui-grid="transformerMeterReadingDetailsGridOptions" style="width: 100%;height: 440px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>	


<style>
.modal-dialog{
	width: 50%;
}

.textbox {

	height: 25px;
	text-align: right;
}

#assessedconsumptiondetails_table thead tr th:nth-child(2) {width: 50%;}
#assessedconsumptiondetails_table tbody tr td:nth-child(2) {width: 50%;}

</style>
	<!-- Modal -->
<div class="modal fade" id="assessedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Assessed Consumption Entry</h4>
      </div>
      <div class="modal-body">
       <div class="row">
	    	<div class="col-xs-12"><label>Reading Date     :</label> &nbsp;{{modal.readingdate}}</div>
	    	<div class="col-xs-12"><label>O&M Section      :</label> &nbsp;{{modal.omsection}}</div>
	    	<div class="col-xs-12"><label>Station Name     :</label> &nbsp;{{modal.stationname}}</div>
	    	<div class="col-xs-12"><label>Feeder Name      :</label> &nbsp;{{modal.feedername}}</div>
	    	<div class="col-xs-12"><label>Transformer Name :</label> &nbsp;{{modal.transformername}}</div>
		</div>
		<br>
		<div class="row">
	 		<div class="col-xs-12" style="width: 100%;margin-top: 5px;">
				<table id="assessedconsumptiondetails_table" class="table table-sm table-hover table-striped thalign table-bordered" style="width: 100%;">
					<thead style="background-color: #70bcff">
								<tr>
									<th  >#</th>
									<th  >Tariff Category</th>
									<th  >No Of Installtions</th>
									<th  >Assessed Units</th>
								</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in assessedconsumptiondetails">
									<td align="center">{{$index+1}}</td>
									<td align="left">{{data.tariff_category}}</td>
									<td align="left"><input type="text" class="form-control textbox" ng-model="data.no_of_installtions" web-numeric></td>
									<td align="left"><input type="text" class="form-control textbox" ng-model="data.assessed_units" web-numeric ></td>
								</tr>
					</tbody>
			</table>
 		</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save_assessed_consumption_details()">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->