
<style>
.fa{
vertical-align: baseline;
    padding-right: 10px;
    font-size: 16px;
    color: #3EB1E7;
}
.curso:hover {
	cursor: pointer;
}
</style>
<div id="main" class="theme">
	<!-- <web-header user-info="$root.user" class="relative-pos"></web-header>
	<web-menu menu-collection="$root.menu" class="menu-bar-sliding-pos"></web-menu> -->
<div ng-include="'app/templates/menu_new.html'" user-info="$root.user" style="margin-top: 50px;" ></div>
	<div class="container-fluid content">
		<div class="cb-wrapper main-reconciliation">
			<web-bread-crumb items="$root.breadcrumb" class="pull-left"></web-bread-crumb>
			
			<div class="row">
				<div class="col-xs-3">
				</div>
				<div class="col-xs-6">
					<div class="panel panel-primary">
      	     		 <div class="panel-heading"><h3 class="panel-title">Reconcillation</h3></div>
					 	 <div class="panel-body">
					 	 		<div class="row">
					 	 			<div class="col-xs-4">
					 	 				<div ng-click="selected = 'date_wise'"  class="curso">
											<span class="fa" ng-class="{'fa-circle': selected === 'date_wise', 'fa-circle-o': selected !== 'date_wise' }"></span>
											<span ng-click="selected = 'date_wise'">Receipt Date Wise</span>
										</div>
					 	 			</div>
					 	 			<div class="col-xs-4">
					 	 				<div ng-click="selected = 'rr_no_wise'" class="curso">
											<span class="fa" ng-class="{'fa-circle': selected === 'rr_no_wise', 'fa-circle-o': selected !== 'rr_no_wise' }"></span>
											<span ng-click="selected = 'rr_no_wise'">RR No Wise</span>
										</div>
					 	 			</div>
					 	 		</div>
					 	 		<br>
					 	 		<div class="row">
					 	 			<div class="col-xs-6">
					 	 				<label for="receipt-date">Receipt Date</label>
					 	 				<div class='form-inline input-group input-append date dfreceiptdate'	data-provide="datepicker">
											<input type='text' class="form-control" id="receipt_date" readonly="readonly" name="dfromdate" 
											ng-model="receiptDate" > 
											<span class="input-group-addon datepicker"> <span class="glyphicon glyphicon-calendar"></span></span>
										</div>
					 	 			</div>
					 	 			<div class="col-xs-6">
				  						<label for="rr-number">RR Number</label>
			               				 <input type="text" class="form-control" ng-disabled="selected !== 'rr_no_wise'" ng-model="rrNo" type="text" id="rr_number" >	
				  					</div>
					 	 		</div>
					 	 		<br>
					 	 		<div class="row">
					 	 			<div class="col-xs-2">
					 	 				<button class="btn btn-primary btn-block" ng-click="reconciliation_clear()">Clear</button>
					 	 			</div>
					 	 			<div class="col-xs-2">
					 	 				<button class="btn btn-primary btn-block" ng-click="reconciliation_process()">OK</button>
					 	 			</div>
					 	 		</div>	
					 	 		
					 	 		<br>
					 	 		<div class="row" ng-show="message">
					 	 			<div class="col-xs-12">
					 	 				<h4 class="text-success">{{message}}</h4>
					 	 			</div>
					 	 		</div>
					 	 </div>
				 	 </div>
				</div>
				<div class="col-xs-3">
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$('.dfreceiptdate').datetimepicker({
	format : 'dd/mm/yyyy',
	minView : 2,
	autoclose : 1,
	//startDate : new Date(new Date().setDate(new Date().getDate() - 15)),
	endDate : new Date()
});
</script>