<div id="master" class="theme">
	<!-- <web-header user-info="$root.user" class="relative-pos"></web-header>
	<web-menu menu-collection="$root.menu" class="menu-bar-sliding-pos"></web-menu> -->
	
	<div ng-include="'app/templates/menu_new.html'" user-info="$root.user" style="margin-bottom: 20px;"></div>
	
	<div class="container-fluid content">
		<div class="cb-wrapper appeal-amount-master">
			<web-bread-crumb items="$root.breadcrumb" class="pull-left"></web-bread-crumb>
			<div class="action width-100">
				<div class="pull-left  margin-top-5" >
					RR Number : <input type="text" placeholder="Type & Hit Enter" tooltip-placement="bottom-right" uib-tooltip-html="apealAmountDetailsRRNoTooltipHtml" id="appeal-amount-rr-number" class="text-input" ng-enter="load_appeal_amount_details($event)" />
				</div>
				<div class="pull-left  margin-top-5">
					Serial Number : <input type="text" class="text-input" id="appeal-amount-serial-number"/>
				</div>
				<div class="pull-left margin-top-5">
					Type : 
					<select type="text" id="appeal-amount-type" class="text-input">
						<option value="">-- Select --</option>
						<option ng-repeat="type in ApealTypeList" value="{{type.key}}">{{type.value}}</option>
					</select>
				</div>
				<div class="pull-left">
					<button ng-click="load_appeal_amount_details($event)" class="">Show</button>
				</div>
				<div class="pull-right">
					<button ng-click="add_appeal_amount_details()">Add New</button>
					<button ng-click="appeal_amount_grid_clear()" class="appeal-amount-details-clear">Clear</button>
				</div>
			</div>
			<div class="width-100 clear-both padding-top-15">
				<div id="appeal_amount_details">
					<div class="gridStyle" ui-grid="appealAmountDetailsGridOptions" style="width: 100%;height: 440px;"></div>
				</div>
			</div>
		</div>
	</div>
	
</div>